# Arquivos de variáveis de ambiente 

# Pastas de cache e ambientes virtuais do Python
__pycache__/
*.pyc
venv/
env/

# Arquivos de dados gerados pelos scripts 
data/

# Arquivos específicos da IDE Spyder
.spyproject/

# Arquivos de log ou outros temporários
*.log
*.tmp